* {
  padding: 0;
  margin: 0;
  font-family: cursive;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #222 url('../images/bg.png');
  overflow: hidden;
}

div.clear {
  clear: both;
  font-size: 0;
  margin: -1px 0 0;
  padding: 0;
  line-height: 0;
}

#game-container {
  background: #000;
  border: 1px solid #222;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  overflow: hidden;
}

#game-container #arena-overlay {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 300;
}

#game-container .dialog {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 160px;
  margin: 30% 0 0 -150px;
  background: #666;
  border: 2px solid #fff;
  opacity: .8;
  -moz-box-shadow: 0 0 5px silver;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: 301;
}

#game-container .dialog .action {
  display: block;
  padding: 3px 5px;
  margin: 30px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#game-container .dialog .action:hover {
  background: #eee;
}

#game-container.fullscreen {
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -moz-box-shadow: none;
}

/* intro screen */

#game-container.intro div {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  margin: 30% 0;
}

/* intro screen// */

/* //options screen */
#game-container.options fieldset {
  margin: 30px;
  padding: 10px;
  background: #fff;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
}

#game-container.options fieldset legend {
  margin: 0 0 0 20px;
  padding: 3px 10px;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff;
  border-bottom: none;
}

#game-container.options fieldset .actions {
  background: gray;
  margin: 10px -10px -10px -10px;
  padding: 10px;
  text-align: right;
}

#game-container.options fieldset .actions a {
  text-align: center;
  display: inline-block;
  background: #eee;
  color: #444;
  border: 1px solid transparent;
  padding: 3px 5px;
  width: 80px;
  font-size: 11px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}

#game-container.options fieldset .actions a:hover {
  background: #ddd;
  color: #222;
  cursor: pointer;
}

#game-container.options fieldset legend {
  float: left;
  margin: -20px 0px 20px;
  cursor: pointer;
  font-weight: normal;
}

#game-container.options fieldset legend[active] {
  cursor: text;
  font-weight: bold;
  z-index: 1;
  margin: -20px -5px 20px;
  position: relative;
}

#game-container.options fieldset select {
  width: 150px;
}

#game-container.options fieldset label {
  margin: 5px 10px;
}

#game-container.credits div {
  color: #fff;
  padding: 0 200px;
}

/* options screen */

#menu {
  list-style: none;
  margin: 20% auto 0;
  width: auto;
  text-align: center;
}

#menu li {
  font-size: 22px;
  display: block;
  width: 30%;
  margin: 15px auto;
  padding: 5px;
  background: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 10px 5px;
  -moz-border-radius: 10px 5px;
  -webkit-border-radius: 10px 5px;
  border: 2px groove #555;
}

#menu li:hover {
  cursor: pointer;
}

#game-container.arena {
  background: #000;
}

#game-container.arena .field {
  margin: 50px 0 0 60px;
}

#game-container.arena #arbiter {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 666;
  background: yellow;
}
#game-container.arena #timer {
  position: absolute;
  top: -50px;
  left: 450px;
  z-index: 1000;
  color: #cba;
  font-weight: bold;
  font-size: 35px;
}

#game-container.arena .tile {
  z-index: 10;
  position: absolute;
  width: 40px;
  height: 40px;
}

.arena .bomber {
  position: absolute;
  z-index: 200;
}

.arena .bomber-tall {
  margin-top: -20px;
  height: 60px !important;
}

.arena .tile-arrow-east,
.arena .tile-arrow-south,
.arena .tile-arrow-west,
.arena .tile-arrow-north {
  background: #faebd7;
}

.arena .tile-ice {
  background: #00bfff;
}

.arena .tile-trap {
  background: orange;
}

.arena .tile-ground {
  background: gray;
}

.arena .tile-wall, .arena .tile-box {
  z-index: 200 !important;
}

.arena .tile-box {
  background: silver;
}

.arena .tile-wall {
  background: darkgray;
}

#game-container.arena .extra {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 11;
}
