#game-container {
  background-image: url('../../images/themes/default/title.png');
}

#game-container.intro {
  background: #000;
}

#game-container.intro .logo {
  background: url("../../images/themes/default/fischlustig_logo.png") no-repeat;
  width: 600px;
  height: 106px;
  margin: 30% auto 0;
}
#game-container.intro .text {
  color: #cecece;
  font-size: 26px;
  margin: 10px 0 0;
  text-transform: uppercase;
}

#game-container.credits {
  background: url('../../images/overlay.png'), url('../../images/themes/default/horst_evil.png');
}

#game-container.editor {
  background-image: url('../../images/themes/default/editor.png');
}

#game-container.help {
  background: url('../../images/overlay.png'), url('../../images/themes/default/title.png');
}

#game-container.help h1 {
  font-size: 28px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#game-container.help ul {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}

#game-container.help ul li {
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  line-height: 40px;
  text-align: left;
  padding: 5px;
}

#game-container.help ul li img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  float: left;
}

#game-container.help ul li span {
  display: block;
  float: left;
  width: 80px;
}

#game-container.help ul li span.text {
  width: auto;
  margin-left: 50px;
}

#game-container.help ul li.bomb img {
  background: url('../../images/themes/default/extras.png') 0 0 no-repeat;
}

#game-container.help ul li.power img {
  background: url('../../images/themes/default/extras.png') -40px 0 no-repeat;
}

#game-container.help ul li.skateboard img {
  background: url('../../images/themes/default/extras.png') -80px 0 no-repeat;
}

#game-container.help ul li.kick img {
  background: url('../../images/themes/default/extras.png') -120px 0 no-repeat;
}

#game-container.help ul li.throw img {
  background: url('../../images/themes/default/extras.png') -160px 0 no-repeat;
}

#game-container.help ul li.joint img {
  background: url('../../images/themes/default/extras.png') -200px 0 no-repeat;
}

#game-container.help ul li.viagra img {
  background: url('../../images/themes/default/extras.png') -240px 0 no-repeat;
}

#game-container.help ul li.cocaine img {
  background: url('../../images/themes/default/extras.png') -280px 0 no-repeat;
}

#game-container.help > span {
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 40px 0 0;
}