.arena .bomber.bomber-dead {
    background-image: url('../../images/themes/debug/ribbon.png');
    background-position: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.bomber {
  width: 36px;
  height: 36px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  background: url("../../images/light.png") 0 0 no-repeat;
}

#game-container.arena .bomber-1 {
  background-color: silver;
}
#game-container.arena .bomber-2 {
  background-color: green;
}
#game-container.arena .bomber-3 {
  background-color: yellow;
}
#game-container.arena .bomber-4 {
  background-color: #800;
}
#game-container.arena .bomber-5 {
  background-color: #7fffd4;
}
#game-container.arena .bomber-6 {
  background-color: #d2691e;
}
#game-container.arena .bomber-7 {
  background-color: orange;
}
#game-container.arena .bomber-8 {
  background-color: #f08080;
}
