@import "base.css";

#menu {
  opacity: 0.7;
  width: 35%;
  padding: 0;
  -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(black));
}

#menu li {
  width: auto;
  height: 30px;
  background: #a87;
  margin: 0 auto;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#menu li.selected {
  background: #965;
  color: #000 !important;
}

#menu li.value-off {
  color: #644;
}


#game-container.arena {
  background: #000;
}

#game-container.arena #arbiter {
    background: url('../../images/themes/default/trollface.png') 0 0 no-repeat;
    background-size: 40px 40px;
}

.arena .tile {
  background-color: #424242;
}

.arena .tile-none {
  background-color: #000;
}

.arena .field {
  margin: 40px 0 0 60px;
}
.arena .tile-arrow-east {
  background: url('../../images/themes/default/tile_addons.png') 160px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-south {
  background: url('../../images/themes/default/tile_addons.png') 280px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-west {
  background: url('../../images/themes/default/tile_addons.png') 240px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-north {
  background: url('../../images/themes/default/tile_addons.png') 200px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-ice {
  background: url('../../images/themes/default/tile_addons.png') 0 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-trap {
  background: url('../../images/themes/default/tile_addons.png') 40px 0, url('../../images/themes/default/tiles.png') 160px 0;
}

.arena .tile-ground {
  background: url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-box {
  background: url('../../images/themes/default/tiles.png') 80px 0;
}
.arena .tile-wall,.arena .tile-box {
  box-shadow: 5px 5px 10px #000;
}
.arena .tile-wall {
  background: url('../../images/themes/default/tiles.png') 120px 0;
}

.bomber {
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  background: url("../../images/light.png") 0 0 no-repeat;
}

.arena .bomb {
  width: 36px;
  height: 36px;
  position: absolute;
  margin: 2px;
  z-index: 15 !important;
  background: url("../../images/themes/default/bomb.png") 0 0 no-repeat;
}

.explosion {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  margin: 4px;
  z-index: 15 !important;
  background: orange;
}

.eyes {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
  width: 36px;
  height: 36px;
}

.first-eye, .second-eye, .third-eye {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 7px;
  border: 2px solid black;
  top: 3px;
  z-index: 1;
}

.bomber-dead .eyes .eye {
  top: 10px;
  -webkit-transform: rotate(45deg);
  background: black;
  border-radius: 0;
  border-width: 0;
  height: 1px;
}

.bomber-dead .eyes .eye .pupil {
  -webkit-transform: rotate(-90deg);
  top: 0;
  left: 0;
  margin: 0;
  width: 10px;
  background: black;
  border-radius: 0;
  height: 1px;
}

.bomber-dead .eyes .third-eye {
  margin-left: -5px !important;
  top: 5px !important;
}


.bomber .stereo .first-eye {
  left: 3px;
}
.bomber-dead .stereo .first-eye {
  left: 5px;
}

.bomber .stereo .second-eye {
  right: 3px;
}
.bomber-dead .stereo .second-eye {
  right: 5px;
}

.bomber .stereo .third-eye {
  display: none;
}

.bomber .cyclope .first-eye {
  left: 50%;
  margin-left: -9px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  top: 0;
}
.bomber-dead .cyclope .first-eye {
  height: 1px;
  top: 7px;
}
.bomber-dead .cyclope .first-eye .pupil {
  height: 1px;
  width: 16px;
}

.bomber .cyclope .second-eye {
  display: none;
}

.bomber .cyclope .third-eye {
  display: none;
}

.bomber .alien .first-eye {
  left: 0;
}

.bomber .alien .second-eye {   
  right: 0;
}

.bomber .alien .third-eye {
  left: 50%;
  margin-left: -7px;
  top: -1px;
  z-index: 0;
}

.bomber .eyes .pupil {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  background: black;
  border-radius: 2px;
}

.arena .extra {
  position: absolute;
  width: 40px;
  height: 40px;
}

.arena .extra-bomb {
  background: url('../../images/themes/original/extras.png') 0 0 no-repeat;
}
.arena .extra-power {
  background: url('../../images/themes/original/extras.png') -40px 0 no-repeat;
}
.arena .extra-kick {
  background: url('../../images/themes/original/extras.png') -160px 0 no-repeat;
}
.arena .extra-glove {
  background: url('../../images/themes/original/extras.png') -160px 0 no-repeat;
}
.arena .extra-skateboard {
  background: url('../../images/themes/original/extras.png') -80px 0 no-repeat;
}
.arena .extra-joint {
  background: url('../../images/themes/original/extras.png') -120px 0 no-repeat;
}
.arena .extra-cocaine {
    background: url('../../images/themes/original/extras.png') -200px 0 no-repeat;
}
.arena .extra-viagra {
    background: url('../../images/themes/original/extras.png') -240px 0 no-repeat;
}


#game-container.score {
  background: url('../../images/themes/default/score_bg.png') no-repeat;
}

.score .next {
  float: right;
  color: #fff;
  height: 150px;
  width: 150px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.score .next .sign {

}
.score .next .preview {
  height: 110px;
  width: auto;
  margin: 3px 0;
  border: 1px solid #666;
  background: #000;
}

.score .next .name {

}

