@import "base.css";

#menu {
  opacity: 0.7;
  width: 30%;
  padding: 0;
}

#menu li {
  width: auto;
  height: 30px;
  background: #a87;
  margin: 0 auto;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#menu li.selected {
    background: #965;
}


#game-container.arena {
  background: #000;
}

#game-container.arena #arbiter {
    background: url('../../images/themes/default/trollface.png') 0 0 no-repeat;
    background-size: 40px 40px;
}

.arena .tile {
  background-color: #424242;
}

.arena .tile-none {
  background-color: #000;
}

.arena .field {
  margin: 40px 0 0 60px;
}
.arena .tile-arrow-east {
  background: url('../../images/themes/default/tile_addons.png') 160px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-south {
  background: url('../../images/themes/default/tile_addons.png') 280px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-west {
  background: url('../../images/themes/default/tile_addons.png') 240px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-arrow-north {
  background: url('../../images/themes/default/tile_addons.png') 200px 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-ice {
  background: url('../../images/themes/default/tile_addons.png') 0 0, url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-trap {
  background: url('../../images/themes/default/tile_addons.png') 40px 0, url('../../images/themes/default/tiles.png') 160px 0;
}

.arena .tile-ground {
  background: url('../../images/themes/default/tiles.png') 160px 0;
}
.arena .tile-box {
  background: url('../../images/themes/default/tiles.png') 80px 0;
}
.arena .tile-wall,.arena .tile-box {
  box-shadow: 5px 5px 10px #000;
}
.arena .tile-wall {
  background: url('../../images/themes/default/tiles.png') 120px 0;
}
.arena .bomber-ball-green {
    background: url('../../images/themes/default/bomber_green.png') 0 0;
}
.arena .bomber-ball-red {
    background: url('../../images/themes/default/bomber_red.png') 0 0;
}
.arena .bomber-ball-yellow {
    background: url('../../images/themes/default/bomber_yellow.png') 0 0;
}
.arena .bomber-ball-blue {
    background: url('../../images/themes/default/bomber_blue.png') 0 0;
}
.arena .bomber-bsd {
    background: url('../../images/themes/default/bomber_bsd.png') 0 0;
}
.arena .bomber-tux {
    background: url('../../images/themes/default/bomber_tux.png') 0 0;
}
.arena .bomber-snake {
    background: url('../../images/themes/default/bomber_snake.png') 0 0;
}
.arena .bomber-spider {
    background: url('../../images/themes/default/bomber_spider.png') 0 0;
}