@import "base.css";

#game-container.arena {
  background: #000;
}

.arena .tile {
  background-color: #424242;
}

.arena .tile-none {
  background-color: #000;
}

.arena .field {
  margin: 40px 0 0 60px;
}
.arena .tile-arrow-east {
  background: url('../../images/themes/strange/tile_addons.png') 160px 0, url('../../images/themes/strange/tiles.png') 160px 0;
}
.arena .tile-arrow-south {
  background: url('../../images/themes/strange/tile_addons.png') 280px 0, url('../../images/themes/strange/tiles.png') 160px 0;
}
.arena .tile-arrow-west {
  background: url('../../images/themes/strange/tile_addons.png') 240px 0, url('../../images/themes/strange/tiles.png') 160px 0;
}
.arena .tile-arrow-north {
  background: url('../../images/themes/strange/tile_addons.png') 200px 0, url('../../images/themes/strange/tiles.png') 160px 0;
}
.arena .tile-ice {
  background: url('../../images/themes/strange/tile_addons.png') 0 0, url('../../images/themes/strange/tiles.png') 160px 0;
}
.arena .tile-trap {
  background: url('../../images/themes/strange/tile_addons.png') 40px 0, url('../../images/themes/strange/tiles.png') 160px 0;
}

.arena .tile-ground {
  background: url('../../images/themes/strange/tiles.png') 160px 0;
}

.arena .tile-box {
  background: url('../../images/themes/strange/tiles.png') 80px 0;
}

.arena .tile-wall {
  background: url('../../images/themes/strange/tiles.png') 120px 0;
}