<?xml version="1.0" encoding="UTF-8" ?>
<config>

  <types>
    <type id="eyes" type="enum">
      <enum>
        <value>cyclope</value>
        <value>stereo</value>
        <value>alien</value>
        <value>olimpian</value>
      </enum>
    </type>
    <type id="team" type="number">
      <range min="0" max="4" step="1"/>
    </type>
    <type id="controller" type="enum">
      <enum>
        <value>ai</value>
        <value>arrows</value>
        <value>wasd</value>
        <value>ijkl</value>
      </enum>
    </type>
  </types>

  <property id="sounds" type="boolean" default="true">
    <name>Sound</name>
  </property>

  <property id="debug" type="boolean" default="true">
    <name>Debug</name>
  </property>

  <property id="graphic.theme" type="enum" default="default">
    <name>Theme</name>
    <enum>
      <value>default</value>
      <value>original</value>
      <value>debug</value>
      <value>svg</value>
    </enum>
  </property>
  <property id="game.player.1" type="complex">
    <name type="string">Player 1</name>
    <username type="string">John</username>
    <color type="string">#3550f0</color>
    <eyes ref="eyes">cyclope</eyes>
    <active type="boolean">true</active>
    <controller ref="controller">ai</controller>
    <team ref="team">0</team>
  </property>
  <property id="game.player.2" type="complex">
    <name>Player 2</name>
    <username>Jimmy</username>
    <color>green</color>
    <eyes>stereo</eyes>
    <active>true</active>
    <controller>arrows</controller>
    <team>0</team>
  </property>
  <property id="game.player.3" type="complex">
    <name>Player 3</name>
    <username>Dexter</username>
    <color>blue</color>
    <eyes>alien</eyes>
    <active>true</active>
    <controller>ai</controller>
    <team>4</team>
  </property>
  <property id="game.player.4" type="complex">
    <name>Player 4</name>
    <username>Casper</username>
    <color>teal</color>
    <eyes>olimpian</eyes>
    <active>true</active>
    <controller>ai</controller>
    <team>0</team>
  </property>
  <property id="game.player.5" type="complex">
    <name>Player 5</name>
    <username>Daniel</username>
    <color>cyan</color>
    <eyes>stereo</eyes>
    <active>true</active>
    <controller>ai</controller>
    <team>4</team>
  </property>
  <property id="game.player.6" type="complex">
    <name>Player 6</name>
    <username>Bill</username>
    <color>yellow</color>
    <eyes>stereo</eyes>
    <active>true</active>
    <controller>ijkl</controller>
    <team>1</team>
  </property>
  <property id="game.player.7" type="complex">
    <name>Player 7</name>
    <username>Kenny</username>
    <color>orange</color>
    <eyes>cyclope</eyes>
    <active>true</active>
    <controller>ai</controller>
    <team>2</team>
  </property>
  <property id="game.player.8" type="complex">
    <name>Player 8</name>
    <username>Jack</username>
    <color>silver</color>
    <eyes>alien</eyes>
    <active>true</active>
    <controller>wasd</controller>
    <team>3</team>
  </property>


  <!--<property id="game.map_list" type="list" immutable="true">
    <name>Theme</name>
    <list>
      <item>Big_Standard</item>
      <item>Blast_Matrix</item>
      <item>Bloody_Ring</item>
      <item>Boiling_Egg</item>
      <item>Bomb_Attack</item>
      <item>Broken_Heart</item>
      <item>Crammed</item>
      <item>Death_Corridor</item>
      <item>Dilemma</item>
      <item>FearCircle</item>
      <item>FearCircle_Remix</item>
      <item>FireWheels</item>
      <item>Football</item>
      <item>Four_Instance</item>
      <item>GhostBear</item>
      <item>Hard_Work</item>
      <item>Hole_Run</item>
      <item>Huge_Standard</item>
      <item>Juicy_Lucy</item>
      <item>Kitchen</item>
      <item>Meeting</item>
      <item>MungoBane</item>
      <item>Obstacle_Race</item>
      <item>Overkill</item>
      <item>Prison_Cells</item>
      <item>Redirection</item>
      <item>Sixty_Nine</item>
      <item>Small_Standard</item>
      <item>Snake_Race</item>
      <item>Tiny_Standard</item>
      <item>Whole_Mess</item>
    </list>
  </property>-->
  <property id="graphic.maxfps" type="number" default="50">
    <name>Maximum FPS</name>
    <range min="5" max="100" step="5"/>
  </property>
  <property id="graphic.shadows" type="boolean" default="false">
    <name>Shadows (very slow)</name>
  </property>

  <property id="game.random_maps" type="boolean" default="false">
    <name>Random maps</name>
  </property>

  <property id="game.random_bombers_positions" type="boolean" default="true">
    <name>Random bomber positions</name>
  </property>

  <property id="game.win_points" type="number" default="5">
    <name>Points to win</name>
    <range min="1" max="7" step="1"/>
  </property>

  <property id="game.round_time" type="number" default="90">
    <name>Round time</name>
    <range min="15" max="300" step="15"/>
  </property>

  <property id="start.bombs" type="number" default="1">
    <name>Start bombs</name>
    <range min="1" max="10" step="1"/>
  </property>

  <property id="start.power" type="number" default="1">
    <name>Start power</name>
    <range min="1" max="15" step="1"/>
  </property>

  <property id="start.skateboards" type="number" default="0">
    <name>Start skateboards</name>
    <range min="0" max="15" step="1"/>
  </property>

  <property id="start.kick" type="boolean" default="false">
    <name>Start kick</name>
  </property>

  <property id="start.glove" type="boolean" default="false">
    <name>Start glove</name>
  </property>

  <property id="max.bombs" type="number" default="9">
    <name>Max bombs</name>
    <range min="1" max="10" step="1"/>
  </property>

  <property id="max.power" type="number" default="12">
    <name>Max power</name>
    <range min="1" max="15" step="1"/>
  </property>

  <property id="max.skateboards" type="number" default="5">
    <name>Max skateboards</name>
    <range min="0" max="10" step="1"/>
  </property>

  <property id="extras.bombs" type="boolean" default="true">
    <name>Extra Bombs</name>
  </property>

  <property id="extras.power" type="boolean" default="true">
    <name>Extra Power</name>
  </property>

  <property id="extras.skateboard" type="boolean" default="true">
    <name>Extra Skateboards</name>
  </property>

  <property id="extras.kick" type="boolean" default="true">
    <name>Extra Kick</name>
  </property>

  <property id="extras.glove" type="boolean" default="true">
    <name>Extra Glove</name>
  </property>

  <property id="diseases" type="boolean" default="true">
      <name>Diseases</name>
  </property>

  <property id="diseases.joint" type="boolean" default="true">
    <name>Joint disease</name>
  </property>

  <property id="diseases.viagra" type="boolean" default="true">
    <name>Joint viagra</name>
  </property>

  <property id="diseases.cocaine" type="boolean" default="true">
    <name>Joint cocaine</name>
  </property>

  <property id="graphic.kidz" type="boolean" default="false">
    <name>Kidz mode</name>
  </property>

  <property id="graphic.corpse_parts" type="boolean" default="true">
    <name>Corpse parts</name>
  </property>

  <property id="graphic.shaky_explosions" type="boolean" default="true">
    <name>Shaky explosions</name>
  </property>

  <property id="timing.bombs.countdown" type="number" default="0">
    <name>Bomb Countdown (1/10 s)</name>
    <range min="0" max="50" step="5"/>
  </property>

  <property id="timing.bombs.chain_reaction" type="number" default="0">
    <name>Bomb Chain Reaction Delay (1/100 s)</name>
    <range min="0" max="50" step="5"/>
  </property>

  <property id="timing.bombs.moving_speed" type="number" default="0">
    <name>Moving Bombs Speed</name>
    <range min="10" max="500" step="10"/>
  </property>
</config>
